/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : 17 paź 2023, 19:49:58
    Author     : kaczm
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
        
}

body{
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;  
    margin-top: 1rem;
}

form{
    background-color: #fff;
    width: 400px;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;   
}

input,textarea{
    padding: 15px 10px;
    width: 300px;
    margin: auto;
    border: 1px solid #dfdbdb;
    border-radius: 10px;
}
button{
    background-color: #303030;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 22px -8px rgba(48, 48, 48, 1);
-moz-box-shadow: 0px 8px 22px -8px rgba(48, 48, 48, 1);
box-shadow: 0px 8px 22px -8px rgba(48, 48, 48, 1);
}

.errorPara{
    font-size: 18px;
    color: blue;
}